@import './resets.css';

* {
    box-sizing: content-box;
    width: 100%;
    outline: 1px solid red;
    outline-offset: -1px;

}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(173, 139, 139)), to(#bfcf90)) fixed;

}

header {

}

main {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.75em;
}

.btn-grad:hover {
    background-position: right center;
}

#question {
    font-size: 2em;
    text-align: left;
    padding: 20px 0px 20px 0px;
}

.button {
    padding: 10px;
    font-size: 1em;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

#next,
#prev {

}

.button-wrapper {
    margin: 20px 0px 0px 0px;
}

form {
    display: inline-block;
    vertical-align: middle;
}

.form-group {
        
}